--ASSIGNMENT 8 (A8B)
--PROBLEM 59
USE [MSBA21]
GO
/****** Object:  Trigger [dbo].[TRG_MEM_BALANCE]    Script Date: 9/13/2020 9:53:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TRG_MEM_BALANCE]
	ON [dbo].[DETAILRENTAL]
	AFTER UPDATE 
AS
--BEGIN TRIGGER
BEGIN

	--VARIABLES
	DECLARE	@RENT_NUM INT
	DECLARE	@PRIOR_LATE_FEE NUMERIC(9,2)
	DECLARE @NEW_LATE_FEE NUMERIC(9,2)
	DECLARE	@PRIOR_DAYS_LATE INT
	DECLARE @NEW_DAYS_LATE INT
	DECLARE @DAILY_LATE_FEE NUMERIC(9,2)

	DECLARE	DETAIL_RENTAL_CURSOR CURSOR FOR
	SELECT  I.RENT_NUM, DATEDIFF(DAY, D.DETAIL_DUEDATE, D.DETAIL_RETURNDATE) AS PRIOR_DAYS_LATE,
				DATEDIFF(DAY, I.DETAIL_DUEDATE, I.DETAIL_RETURNDATE) AS NEW_DAYS_LATE,
				I.DETAIL_DAILYLATEFEE
	FROM	inserted I INNER JOIN deleted D ON I.RENT_NUM = D.RENT_NUM AND I.VID_NUM = D.VID_NUM
	
	OPEN	DETAIL_RENTAL_CURSOR
	FETCH	NEXT FROM DETAIL_RENTAL_CURSOR INTO @RENT_NUM, @PRIOR_DAYS_LATE, @NEW_DAYS_LATE, @DAILY_LATE_FEE
	WHILE	(@@FETCH_STATUS = 0)

	BEGIN 
		--LATE FEE VALUE PRIOR TO UPDATE 
		IF @PRIOR_DAYS_LATE < 0
			SET @PRIOR_LATE_FEE = 0
		ELSE
			SET @PRIOR_LATE_FEE = ISNULL(@PRIOR_DAYS_LATE, 0) * @DAILY_LATE_FEE
		
		--LATE FEE VALUE AFTER UPDATE
		IF @NEW_DAYS_LATE < 0
			SET @NEW_LATE_FEE = 0
		ELSE
			SET @NEW_LATE_FEE = ISNULL(@NEW_DAYS_LATE, 0) * @DAILY_LATE_FEE

		--UPDATE MEM_BALANCE IF DIFFERENCE IS NOT 0
		IF ((@NEW_LATE_FEE - @PRIOR_LATE_FEE) <> 0)
		BEGIN
			UPDATE	MEMBERSHIP
			SET		MEM_BALANCE = MEM_BALANCE + (@NEW_LATE_FEE - @PRIOR_LATE_FEE)
			WHERE	MEM_NUM = (SELECT MEM_NUM
							   FROM	RENTAL
							   WHERE RENT_NUM = @RENT_NUM)
		END
	END
END