--ASSIGNMENT 9 
--STORED PROCEDURE
USE [MSBA21]
GO
/****** Object:  StoredProcedure [dbo].[PRC_NEW_DETAIL]    Script Date: 9/16/2020 6:38:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--HEADING
ALTER PROCEDURE [dbo].[SP_NEW_DETAIL]
	@VID_NUM_PARAM INT,		--VIDEO NUMBER & RENT NUMBER PARAMETERS
	@RENT_NUM_PARAM INT
AS
BEGIN
	DECLARE @DUE_DATE			DATETIME		
	DECLARE @PRICE_RENT_DAYS	INT
	DECLARE	@PRICE_RENT_FEE		NUMERIC(9,2)	--VARIABLES
	DECLARE @DAILY_LATE_FEE		NUMERIC(9,2)
	DECLARE @VID_STATUS			VARCHAR(4)
	DECLARE @VID_COUNT			INT

	--CHECKS AND STORES THE NUMBER OF VIDEOS IN THE VIDEO TABLE INTO @VID_COUNT VARIABLE
	SELECT	@VID_COUNT = COUNT(*)
	FROM	VIDEO
	WHERE	VID_NUM = @VID_NUM_PARAM

	--CHECKS TO SEE IF THE VID_NUM EXISTS IN THE TABLE OR NOT
	IF(NOT EXISTS (SELECT * FROM VIDEO WHERE VID_NUM = @VID_NUM_PARAM))
	BEGIN
		PRINT 'VIDEO NO:' + @VID_NUM_PARAM + 'DOES NOT EXIST'
	END
	--CHECKS TO SEE IF THE RENT_NUM IS A DUPLICATE
	ELSE IF(NOT EXISTS (SELECT * FROM RENTAL WHERE RENT_NUM = @RENT_NUM_PARAM))
	BEGIN
		PRINT 'RENT NO:' + @RENT_NUM_PARAM + 'IS A DUPLICATE'
	END
	ELSE
	BEGIN
		--STORE THE VID_STATUS OF THE VIDEO STORED IN @VID_NUM_PARAM
		SELECT	@VID_STATUS = VID_STATUS
		FROM	VIDEO
		WHERE	VID_NUM = @VID_NUM_PARAM

		--CHECKS THE VIDEO STATUS TO SEE IF IT IS 'IN' OR NOT 
		IF(@VID_STATUS <> 'IN')
			PRINT 'VIDEO' + @VID_NUM_PARAM + 'MUST BE RETURNED BEFORE IT CAN BE RENTED AGAIN'
		ELSE
		BEGIN
			--SETS THE RENTFEE, LATEFEE, AND RENTDAYS OF VIDEO WITH 'IN' STATUS
			SELECT	@PRICE_RENT_FEE = PRICE_RENTFEE, @DAILY_LATE_FEE = PRICE_DAILYLATEFEE,
					@PRICE_RENT_DAYS = PRICE_RENTDAYS
			FROM	PRICE P INNER JOIN MOVIE M ON P.PRICE_CODE = M.PRICE_CODE
					INNER JOIN VIDEO V ON M.MOVIE_NUM = V.MOVIE_NUM
			WHERE	VID_NUM = @VID_NUM_PARAM

			--SETS THE DUE DATE OF VARIABLE TO THE CURRENT DATE + THE NUMBER OF RENT DAYS
			SET @DUE_DATE = DATEADD(DAY,@PRICE_RENT_DAYS,GETDATE())

			--INSERTS A NEW ROW INTO DETAIL RENTAL WITH THE CALCULATED VARIABLES AS INPUT
			INSERT INTO DETAILRENTAL(RENT_NUM, VID_NUM, DETAIL_FEE, DETAIL_DUEDATE, DETAIL_RETURNDATE, DETAIL_DAILYLATEFEE)
				VALUES(@RENT_NUM_PARAM, @VID_NUM_PARAM, @PRICE_RENT_FEE, @DUE_DATE, NULL, @DAILY_LATE_FEE)

			--SETS THE VIDEO STATUS TO OUT
			UPDATE	VIDEO
			SET		VID_STATUS = 'OUT'
			WHERE	VID_NUM = @VID_NUM_PARAM
		END
	END
END	